@model Inmobiliaria_Benito.Models.Pago

<h1>Detalles del Pago</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Contrato</dt>
        <dd class="col-sm-10">@Model.IdContratoNavigation?.ContratoId</dd>

        <dt class="col-sm-2">Número de pago</dt>
        <dd class="col-sm-10">@Model.NumeroPago</dd>

        <dt class="col-sm-2">Fecha de pago</dt>
        <dd class="col-sm-10">@Model.FechaPago</dd>

        <dt class="col-sm-2">Importe</dt>
        <dd class="col-sm-10">@Model.Importe</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PagoId">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
