@model Inmobiliaria_Benito.Models.Inmueble

@{
    ViewData["Title"] = "Detalles del Inmueble";
}

<h2>Detalles del Inmueble</h2>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Dirección</dt>
        <dd class="col-sm-9">@Model.Direccion</dd>

        <dt class="col-sm-3">Uso</dt>
        <dd class="col-sm-9">@Model.Uso</dd>

        <dt class="col-sm-3">Tipo</dt>
        <dd class="col-sm-9">@Model.IdTipoNavigation?.Nombre</dd>

        <dt class="col-sm-3">Ambientes</dt>
        <dd class="col-sm-9">@Model.Ambientes</dd>

        <dt class="col-sm-3">Propietario</dt>
        <dd class="col-sm-9">@Model.IdPropietarioNavigation?.Nombre @Model.IdPropietarioNavigation?.Apellido</dd>

        <dt class="col-sm-3">En Contrato</dt>
        <dd class="col-sm-9">@((Model.Contratos != null && Model.Contratos.Count > 0) ? "Sí" : "No")</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
