@model Inmobiliaria_Benito.Models.Inmueble

@{
    ViewData["Title"] = "Detalles del Inmueble";
}

<h2>Detalles del Inmueble</h2>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Uso</dt>
        <dd class="col-sm-10">@Model.Uso</dd>

        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.IdTipo</dd>

        <dt class="col-sm-2">Propietario</dt>
        <dd class="col-sm-10">@Model.IdPropietarioNavigation?.Nombre @Model.IdPropietarioNavigation?.Apellido</dd>

       
    

        <dt class="col-sm-2">En Contrato</dt>
        <dd class="col-sm-10">@((Model.Contratos != null && Model.Contratos.Count > 0) ? "Sí" : "No")</dd>
    </dl>
</div>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
