@model IEnumerable<Inmobiliaria_Benito.Models.Inmueble>

<h2>Listado de Inmuebles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Uso</th>
            <th>Dirección</th>
            <th>ID Propietario</th>
            <th>ID Tipo</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Uso</td>
            <td>@item.Direccion</td>
            <td>@item.IdPropietario</td>
            <td>@item.IdTipo</td>
           
            <td>
                <a asp-action="Details" asp-route-id="@item.InmuebleId" class="btn btn-info btn-sm">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.InmuebleId" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.InmuebleId" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
