@model Inmobiliaria_Benito.Models.Propietario

@{
    ViewData["Title"] = "Eliminar Propietario";
}

<h2>¿Estás seguro que deseas eliminar este propietario?</h2>

<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Apellido</dd>

        <dt class="col-sm-2">DNI</dt>
        <dd class="col-sm-10">@Model.Dni</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="PropietarioId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
