@model IEnumerable<Inmobiliaria_Benito.Models.Propietario>

@{
    ViewData["Title"] = "Lista de Propietarios";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo Propietario</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Dni</td>
                <td>@item.Telefono</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit"    asp-route-id="@item.PropietarioId" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.PropietarioId" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete"  asp-route-id="@item.PropietarioId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
