@model IEnumerable<Inmobiliaria_Benito.Models.Contrato>

<h2>Contratos</h2>
<a asp-action="Create" class="btn btn-primary">Nuevo Contrato</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Monto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContratoId</td>
            <td>@item.IdInquilinoNavigation?.Nombre</td>
            <td>@item.IdInmuebleNavigation?.Direccion</td>
            <td>@item.FechaDesde</td>
            <td>@item.FechaHasta</td>
            <td>@item.Monto</td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.ContratoId" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ContratoId" class="btn btn-info btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.ContratoId" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>